<div class="heading_container">
  <div class="blue_box"></div>
  <h2><%= selected_category.upcase %></h2>
</div>

<div class="selected_cat_container">
  <% category.each do |recipe| %>
    <form action="/display/<%=recipe["id"]%>/<%=recipe["recipe_name"]%>" method="GET">
      <div class="recipe_thumbnail">
        <a href="/display/<%=recipe["id"]%>">
          <img src="<%= recipe["image_url"] %>">
        </a>
        <input type="submit" value="<%= recipe["recipe_name"] %>" name="category">
      </div>
    </form>
  <% end %>
</div>