<% recipe.each do |info| %>

<form action="/display/<%=info["id"]%>/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div class="recipe_container">
    <input type="text" value="<%= info["recipe_name"] %>" name="recipe_name">

    <input type="text" value="<%= info["serving_size"] %>" name="serving_size">
    <input type="text" value="<%= info["prep_time"] %>" name="prep_time">
    <input type="text" value="<%= info["cook_time"] %>" name="cook_time">
    <input type="text" value="<%= info["image_url"] %>" name="image_url">
    <input type="text" value="<%= info["source"] %>" name="source">
  </div>

  <label for="categories"> <p>Select categories</p> </label>
  <div class="checkbox_container">
    <label class="container">Breakfast
      <input type="checkbox" name="breakfast[]">
    </label>
    <label class="container">Lunch
      <input type="checkbox" name="lunch[]">
    </label>
    <label class="container">Dinner
      <input type="checkbox" name="dinner[]">
    </label>
    <label class="container">Dessert
      <input type="checkbox" name="dessert[]">
    </label>
    <label class="container">Favourite
      <input type="checkbox" name="favourite[]">
    </label>
  </div>

  <div>
    <label for="ingredients"><p>Ingredients</p></label>
    <textarea name="ingredients" cols="50" rows="4"><%= info["ingredients"] %></textarea>
  </div>
    <div>
    <label for="method"><p>Method</p></label>
    <textarea name="method" cols="50" rows="4"><%= info["method"] %></textarea>
  </div>


  <label for="ingredient amount"><p>Nutrition</p></label>
  <div class="nutrition_container">
    <input type="number" step="0.01" value="<%= info["calories"] %>" name="calories">
    <input type="number" step="0.01" value="<%= info["total_fat"] %>" name="total_fat">
    <input type="number" step="0.01" value="<%= info["saturated_fat"] %>" name="saturated_fat">
    <input type="number" step="0.01" value="<%= info["cholesterol"] %>" name="cholesterol">
    <input type="number" step="0.01" value="<%= info["sodium"] %>" name="sodium">
    <input type="number" step="0.01" value="<%= info["total_carb"] %>" name="total_carb">
    <input type="number" step="0.01" value="<%= info["dietary_fibre"] %>"name="dietary_fibre">
    <input type="number" step="0.01" value="<%= info["sugars"] %>" name="sugars">
    <input type="number" step="0.01" value="<%= info["protein"] %>" name="protein">
  </div>

  <input type="submit" value="UPDATE">
</form>
<% end %>


