<% recipe.each do |info| %>
<ul>
  <li><h1><%= info["recipe_name"] %></h1>
  <li><%= info["serving_size"] %> | <%= info["prep_time"] %> | <%= info["cook_time"] %></li>
  <li> <img src="<%= info["image_url"] %>" alt="image"></li>
  <li> <a href="<%= info["source"] %>" target="_blank">Source</a></li>
  <li class="ingredient_list"><%= info["ingredients"] %></li>
  <li class="method"><%= info["method"] %></li>
  <div>
    <li class="nutrition">Nutrition</li>
      <li><%= info["calories"] %></li>
      <li><%= info["total_fat"] %></li>
      <li><%= info["saturated_fat"] %></li>
      <li><%= info["cholesterol"] %></li>
      <li><%= info["sodium"] %></li>
      <li><%= info["total_carb"] %></li>
      <li><%= info["dietary_fibre"] %></li>
      <li><%= info["sugars"] %></li>
      <li><%= info["protein"] %></li>
  </div>
</ul>

<form action="/display/<%=info["id"]%>/edit">
  <input type="submit" value="EDIT">
</form>
<% end %>